.msg {
    margin-left: 15px;
    transition: background-color .3s;
    margin-bottom: 1em;
  }
  
  .msg:hover {
    background-color: gainsboro;
  }
  
  .username {
    font-size: 1em;
  }
  
  .m_emoji {
    background-color: #3b469b;
    color: white;
  }
  
  .nowdate {
    font-size: 0.6em;
    color: #b3aba2;
  }
  
  .status_name {
    font-size: 1.2em;
  }
  
  .status {
    font-size: 0.8em;
  }
  
  .content {
    font-size: 1em;
    white-space: nowrap;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .msg_ul {
    padding-left: 40px;
  }
  
  .msg_ul li {
    margin: 0;
  }
  .userimg {
    border-radius: 5px;
      border: 3px solid #636363;
      height: 2em;
      width: 2em;
      object-fit: cover;
      margin: 0;
      padding: 0;
      display: block;
  }